<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SYSACAD</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/jpg" href="~/Images/favicon.png" />
</head>
<body>
    <main>
        <div class="navbar navbar-dark bg-dark navbar-inverse fixed-top py-3">
                <div class="navbar-header">
                    <a class="navbar-brand ms-5" href="/Home">
                        <img src="~/Images/logoUTN.png" alt="Logo UTN" width="167" height="50">
                    </a>
                    @Html.ActionLink("Usuarios", "Index", "Usuarios", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
        </div>  
        <div class="container body-content mt-5">
            @RenderBody()
            <hr />
        </div>
    </main>
    <footer class="text-center bg-dark text-white py-4" style="vertical-align:bottom">
        <p id="footerText" class="m-0">&copy; @DateTime.Now.Year - SYSACAD</p>
    </footer>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</body>
</html>