
@{
    ViewBag.Title = "Notas";
}


<link href="~/Content/mis-estilos.css" rel="stylesheet" />

<h1 id="headerNota"></h1>

<div id="tabla-notas">

</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="~/Scripts/NotasAlumno.js"></script>