
@{
    ViewBag.Title = "Usuarios";
}

<link href="~/Content/mis-estilos.css" rel="stylesheet" />


<div class="container-fluid d-flex mb-3">
    <div class="row me-4 col-3">
        <label class="form-label">Filtrar por usuario: </label>
        <input type="text" id="filtroUsuario" class="form-control" placeholder="Usuario a buscar" />
    </div>
    <div class="row me-4 col-3">
        <label class="form-label">Filtrar por mail: </label>
        <input type="text" id="filtroMail" class="form-control" placeholder="Mail a buscar" />
    </div>
</div>
    <div class="mb-3">
        <input type="button" class="btn btn-outline-dark" id="limpia-filtro" value="Limpiar" style="max-height:3rem" />
    </div>

<div id="tabla-usuarios">

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body contenedor-modal align-items-center">
                <label class="mb-3">ID: </label>
                <input id="txtID" type="text" class="form-control limpiarCampo w-25 mb-3" disabled />

                <label class="mb-3 campo0">Usuario: </label>
                <input id="txtNombreUsuario" type="text" class="form-control limpiarCampo habilitarCampo deshabilitarCampo required mb-3" />

                <label class="mb-3">Habilitado: </label>
                <div>
                    <input id="checkHabilitado" class="mb-3 form-check habilitarCampo deshabilitarCampo" type="checkbox" style="transform:scale(1.25)" />
                </div>

                <label id="lblClave" class="mb-3 campo1">Clave: </label>
                <input id="txtClave" type="password" class="form-control limpiarCampo habilitarCampo deshabilitarCampo required mb-3" />

                <label id="lblRepiteClave" class="mb-3 campo2">Repetir clave: </label>
                <input id="txtRepiteClave" type="password" class="form-control limpiarCampo habilitarCampo deshabilitarCampo required mb-3" />

                <button id="btnVerClave" class='btn btn-outline-primary oculto'><i id="iconVerClave" class='bi bi-eye'></i></button>

            </div>
            <div class="modal-footer">
                <button id="btnCancelar" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnAceptar" onclick="confirmarCambios()" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="~/Scripts/Usuarios.js"></script>